In [5]:
#UPDATE VALUES
a= ["Apple", "Ball", "cat","Dog", "Fish"]
a[0] = 'AAPLE'
a[1:2] = 'apples','ball'
a

['AAPLE', 'apples', 'ball', 'cat', 'Dog', 'Fish']

In [7]:
#Delete VALUES
a= ["Apple", "Ball", "cat","Dog", "Fish"]
del a[1:2]
a

['Apple', 'cat', 'Dog', 'Fish']

In [12]:
#pop for removing 
a= ["Apple", "Ball", "cat","Dog", "Fish"]
b = a.pop(0)
print(a)
print(b)

['Ball', 'cat', 'Dog', 'Fish']
Apple

In [13]:
a= ["Apple", "Ball", "cat","Dog", "Fish"]
a.remove('Ball')
a

['Apple', 'cat', 'Dog', 'Fish']

In [14]:
#To remove multiple values
a= ["apple", "apple","Ball", "cat","Dog", "Fish"]
l = a.count('apple')
for i in range(l):
    a.remove('apple')
print(a)

['Ball', 'cat', 'Dog', 'Fish']

In [16]:
#Nasted List | list indide list
a =[[1,2,3],
    [4,5,6,7],
    [8,9,0]]
print(len(a))

3

In [22]:
a = [['Prakash', 31, 'Ktm'],
    ['hari', 35, 'bkt'],
    ['shyam', 24, 'skt','btl']]
print(a)
print(a[1])
print(a[2][0])

[['Prakash', 31, 'Ktm'], ['hari', 35, 'bkt'], ['shyam', 24, 'skt', 'btl']]
['hari', 35, 'bkt']
shyam

In [24]:
a = list()
n = int(input("Enter n = "))
for i in range(n):
    name = input("enter name = ") 
    age = int(input("enter age = ")) 
    add= input("enter add = ") 
    a.append([name,age,add])
print(a)

Enter n = 1
enter name = pp
enter age = 11
enter add = aa
[['pp', 11, 'aa']]

In [28]:
#To search something
a = [['Prakash', 31, 'Ktm'],
    ['hari', 35, 'bkt'],
    ['shyam', 24, 'skt','btl']]

for i in a:
    if 'Prakash' in i:
        print("yes")

yes

In [32]:
#To search something
a = [['Prakash', 31, 'Ktm'],
    ['hari', 35, 'bkt'],
    ['shyam', 24, 'skt','btl']]
name = input("enter name =")
for i in a:
    if name in i:
        print(i)

enter name =Prakash
['Prakash', 31, 'Ktm']

In [41]:
a = [['Prakash', 31, 'Ktm'],
    ['hari', 35, 'bkt'],
    ['shyam', 24, 'skt','btl']]
a[0][0:3] = 'mohan', 35, "chujathati"
a

[['mohan', 35, 'chujathati'], ['hari', 35, 'bkt'], ['shyam', 24, 'skt', 'btl']]

In [42]:
a = [['Prakash', 31, 'Ktm'],
    ['hari', 35, 'bkt'],
    ['shyam', 24, 'skt','btl']]
a[0][0] = input("Enter name =")
a

Enter name =Prakash

[['Prakash', 31, 'Ktm'], ['hari', 35, 'bkt'], ['shyam', 24, 'skt', 'btl']]

In [56]:
bill = []
a ="Apple 300 2 600\n banana 200 3 600\n"
b = a.split('\n')[0:-1]
for i in b:
    x = i.split()
    #print(x)
    bill.append(x)
bill

[['Apple', '300', '2', '600'], ['banana', '200', '3', '600']]