In [7]:
a = ("prakash","Mohan","Ram","Shyam","Fish")
print(a[::1])
print(a[::-1])

('prakash', 'Mohan', 'Ram', 'Shyam', 'Fish')
('Fish', 'Shyam', 'Ram', 'Mohan', 'prakash')

In [9]:
a = ("prakash","Mohan","Ram","Shyam","Fish")
b= ("Nishan","Shyam")
c = a+b
c

('prakash', 'Mohan', 'Ram', 'Shyam', 'Fish', 'Nishan', 'Shyam')

In [13]:
a = ("prakash",)
type(a)

tuple

In [14]:
#No edit No update, No append insert extend
#No del remove pop

In [15]:
a = ("prakash","Mohan","Ram","Shyam","Fish")
b =list(a)
del b[0]
a = tuple(b)
a

('Mohan', 'Ram', 'Shyam', 'Fish')

In [16]:
t = ()
n = int(input("Enter value n = "))
for i in range(n):
    x = int(input("enter x = "))
    t = t + (x,) #Making string into tuple by adding bracket and comma
print(t)

Enter value n = 2
enter x = 1
enter x = 5
(1, 5)

In [17]:
t = (10,15,20,17,16,24)
print("sum = ", sum(t))
print("max = ", max(t))
print("min = ", min(t))
print(sorted(t))

sum =  102
max =  24
min =  10
[10, 15, 16, 17, 20, 24]

In [19]:
x =((1,2,3),
    (4,5,6),
    (7,8,9))
x

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [22]:
t = ()
n = int(input("Enter value n = "))
for i in range(n):
    name = input("enter name = ")
    age = int(input("enter age = "))
    phone = int(input("enter phone = "))
    t = t + ((name,age,phone),) #Making string into tuple by adding bracket and comma
print(t)

Enter value n = 2
enter name = a
enter age = 2
enter phone = 3
enter name = b
enter age = 4
enter phone = 5
(('a', 2, 3), ('b', 4, 5))

In [4]:
tl = (('a', 2, 3), ('b', 4, 5))
y = list(tl) 
y
#[('a', 2, 3), ('b', 4, 5)] which is tuple inside list
y.append(('boy',6,25))
y

[('a', 2, 3), ('b', 4, 5), ('boy', 6, 25)]

In [31]:
a = (('a', 2, 3), ('b', 4, 5), ('boy', 6, 25)) # tuple into list
l=[]
for i in a:
    l.append(list(i))
print(l)

[['a', 2, 3], ['b', 4, 5], ['boy', 6, 25]]

In [34]:
a = [['a', 2, 3], ['b', 4, 5], ['boy', 6, 25]] # list into tuple
l=()
for i in a:
     l= l+(tuple(i),)
print(l)

(('a', 2, 3), ('b', 4, 5), ('boy', 6, 25))

In [ ]:
#Matric where n = row | Handle row and colume 
# r = ?
# c = ?
# input x = ?

# matrix = [[1,2,3],
#           [4,5,6],
#           [7,8,9]]


# matric = ((1,2,3),
#           (4,5,6),
#           (7,8,9))