In [2]:
# Create
try:
    file = open('data1.txt','x')
    file.close()
except:
    print("File exists: 'data.txt'")

File exists: 'data.txt'

In [1]:
#READ
file = open('data.txt', 'r')
x = file.read()
print(x.split('/n'))

print(x)
file.close()

['Hello World']
Hello World

In [26]:
all_data = []
file = open('data1.txt', 'r')
x = file.read().split('/n')
print(x)

for i in x:
    print(i)
    
    y= i.split()
    print(y)
#     print(y[0])
    y[1] =int(y[1])
    y[2] =int(y[2])
    y[3] =int(y[3])
    all_data.append(y)
file.close()    
all_data

['Apple 300 3 400\nBall 400 5 526\nBanana 600 5 565']
Apple 300 3 400
Ball 400 5 526
Banana 600 5 565
['Apple', '300', '3', '400', 'Ball', '400', '5', '526', 'Banana', '600', '5', '565']

[['Apple',
  300,
  3,
  400,
  'Ball',
  '400',
  '5',
  '526',
  'Banana',
  '600',
  '5',
  '565']]

In [42]:
#Write
with open('data.txt','w')as file:
    file.write('Hello World')

In [2]:
s= str()
i= 0
all_total = 0
n = int(input("Enter name = "))
while i <n:
    product = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total= price*quantity
    all_total = all_total+total
    s= s+f"{product} {price} {quantity} {total}\n"
    i=i+1
print(s)

with open('bill.txt','w') as file:
    file.write(s)

Enter name = 1
Enter name = lnsdj
Enter price = 35
Enter quantity = 545
lnsdj 35 545 19075

In [46]:
s= str()
i= 0
all_total = 0
n = int(input("how many data = "))
while i <n:
    product = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total= price*quantity
    all_total = all_total+total
    s= s+f"{product},{price},{quantity},{total}\n"
    i=i+1
print(s)

with open('bill.csv','w') as file:
    file.write('Name,Price,Quantity,Total\n')
    file.write(s)

how many data = 2
Enter name = dd
Enter price = 54
Enter quantity = 55
Enter name = sss
Enter price = 5
Enter quantity = 5
dd,54,55,2970
sss,5,5,25

In [5]:
pwd

'C:\\Users\\User\\Desktop\\python'

In [47]:
import pandas as pd
df = pd.read_csv('bill.csv')
df

  Name  Price  Quantity  Total
0   dd     54        55   2970
1  sss      5         5     25