In [1]:
!pip install mysql-connector

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector
  Using cached mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): still running...
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247961 sha256=42f1f28c47cc70c2bc157ac3c774650cb024f2e19d773da705eb278d136a9d33
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [10]:
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password=""
)
db = database.cursor()

db.execute("CREATE DATABASE pythons_test")

DatabaseError: 1007 (HY000): Can't create database 'pythons_test'; database exists

In [14]:
database = mysql.connector.connect(
host="localhost",
user="root",
password="",

database = "pythons_test"
)
db = database.cursor()
db.execute("CREATE TABLE subject(id, INT, name
VARCHAR(255))")

SyntaxError: EOL while scanning string literal (1129296360.py, line 9)

In [39]:
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password="",
database = "class63"    
    
)
db = database.cursor()

db.execute("SELECT * from posts")
result =db.fetchall()
print(result)
result[0][5]

[(1, 3, 'about', 'knds', 'nnnn', datetime.date(2022, 10, 19))]

datetime.date(2022, 10, 19)

# UPDATE SOMEDATA TO DATABASE
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password="",
database = "class63"    
    
)
db = database.cursor()
sql = '''INSERT INTO `posts` ( `author_id`, `title`, `description`, `content`, `date`) 
VALUES ('4', 'Code with prakash P', 'Learn python to hardway with prakash pokhrelk.', 'code', '2022-10-19')'''
db.execute(sql)
database.commit()

# ADD SOMEDATA TO DATABASE
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password="",
database = "class63"    
    
)
db = database.cursor()


n = int(input("Enter number"))
for i in range (n):
    nepali = int(input(" nepali sub:   "))
    english = int(input("english:  "))
    science = int(input("science:   "))
    social = int(input("social:  "))
    total = nepali + english + science +social  
    print(total)
    percent= total/4
    print(percent)
    if percent>=60:
        grade = 'A'
    elif percent>=80:
        grade = 'B'
    else:
        grade = 'C'
     
    sql =f"""INSERT INTO `course` ( `nepali`, `english`, `science`, `social`, `total`, `percent`, `grade`) 
    VALUES ({nepali}, {english}, {science}, {social}, {total}, {percent}, '{grade}')"""
    
    db.execute(sql)
    database.commit()

# DELETE OPERATION
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password="",
database = "class63"    
    
)
db = database.cursor()
    
db.execute('DELETE FROM `course` WHERE `course`.`id` = 2')
database.commit()