In [3]:
#Dictonary

In [5]:
d = {'a':'apple','b':'ball', 'c':'cat'}
print(d['a'])

apple

In [9]:
#d= dict()
d = {}
d['a'] ='CAnt'
d['b'] ='can'
d

{'a': 'CAnt', 'b': 'can'}

In [12]:
d = {}
n = int(input("entrr n = "))
for i in range(n):
    name =input("Enter Name = ")
    phone= int(input("enter phone ="))
    d[name] = phone
print(d)

entrr n = 2
Enter Name = nn
enter phone =9865998844
Enter Name = l
enter phone =345
{'nn': 9865998844, 'l': 345}

In [16]:
for i in d: # For key 
    print(i)

nn
l

In [18]:
for i in d.values(): #For Values
    print(i)

9865998844
345

In [24]:
for i in d.items(): #For key and values
    print(i)

('nn', 9865998844)
('l', 345)

In [21]:
#convert list to list
l = []
for i in d.items():
    l.append(i)
    
print(l)

[('nn', 9865998844), ('l', 345)]

In [22]:
#tomaake dict
dict(l)

{'nn': 9865998844, 'l': 345}

In [25]:
#del
d = {'a':'apple','b':'ball', 'c':'cat'}
del d['a']
d

{'b': 'ball', 'c': 'cat'}

In [32]:
d = {'a':'apple','b':'ball', 'c':'cat'}
x = d.pop('b')
print(d)
print(x)

{'a': 'apple', 'c': 'cat'}
ball

In [33]:
#Extend
d = {'a':'apple','b':'ball', 'c':'cat'}
f = {'p': 'prakash'}
d.update(f)
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'p': 'prakash'}

In [40]:
#list inside Dict
d = {'Ram':[1415,1414],'shyam':[1212,1214]}
print(d['Ram'])
print(d['Ram'][0])

[1415, 1414]
1415

In [43]:
d = {'Ram':[1415,1414],'shyam':[1212,1214]}
d['Hari'] = [1616,1717]
d

{'Ram': [1415, 1414], 'shyam': [1212, 1214], 'Hari': [1616, 1717]}

In [44]:
d = {}
n = int(input("entrr n = "))
for i in range(n):
    name =input("Enter Name = ")
    phone_ntc= int(input("enter phone ="))
    phone_ncell= int(input("enter phone ="))
    d[name] = [phone_ntc,phone_ncell]
print(d)

entrr n = 2
Enter Name = p
enter phone =1415
enter phone =1414
Enter Name = n
enter phone =1312
enter phone =1416
{'p': [1415, 1414], 'n': [1312, 1416]}

In [48]:
#dict inside list
l= [{'name':'ram','age':14, 'add':'Kathmandu'}, 
    {'name':'sita','age':16, 'add':'bkt'}] #yo dict lai list ma garna sakeney sabai garma sakinxa
print(l[1])
l.append({'name':'gita','age':18, 'add':'btl'})
print(l)

{'name': 'sita', 'age': 16, 'add': 'bkt'}
[{'name': 'ram', 'age': 14, 'add': 'Kathmandu'}, {'name': 'sita', 'age': 16, 'add': 'bkt'}, {'name': 'gita', 'age': 18, 'add': 'btl'}]

In [49]:
#ask user data for this code
l=[]
n=int(input("Enter name = "))
for i in range(n):
    name=input("Enter name  = ")
    age=input("Enter age  = ")
    add=input("Enter add  = ")
    data = {'name':name, 'age':age, 'add':add}
    l.append(data)
print(l)

Enter name = 1
Enter name  = 11
Enter age  = 11
Enter add  = 22
[{'name': '11', 'age': '11', 'add': '22'}]