In [7]:
s = set('a')
s.add(1)
s.add(2)
s

{1, 2, 'a'}

In [69]:
s1= {1,0,2,3,"ball"}
s2 = {3,4,7,5}
print(type(s1))
b =s1.union(s2)
c = s1.intersection(s2)
d = len(s2)
e = s1.remove('ball') 
f = s2.discard("words")
# or can use discard this is not rised any error if the itemis not there
print(b)
print(c)
print(d)
print(s1)
print(s2)

<class 'set'>
{0, 1, 2, 3, 4, 'ball', 5, 7}
{3}
4
{0, 1, 2, 3}
{3, 4, 5, 7}

In [34]:
x = set(['foo', 'bar', 'baz', 'foo', 'qux'])
x1 = set(('foo', 'bar', 'baz', 'foo', 'qux'))
type(x1)

set

In [38]:
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1.0, (1, 2, 3), 'Hello'}

In [39]:
# set cannot have duplicates
# Output: {1, 2, 3, 4}
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

{1, 2, 3, 4}

In [70]:
# We can add a single element using the add() method, and multiple elements using the update() method.
# The update() method can take tuples, lists, strings or other sets as its argument. In all cases,
# duplicates are avoided.
#USe clear()method for clearing all element and pop()too but dont know which is going to pop
b = set()
a = set()
c = set()
a.update({1,2,3,4})
b.update([1,3,5,2])
c.update([4, 5], {1, 6, 8})
type(a)
print(a)
type(b)
print(b)
print(c)
type(c)
c.clear()
print(c)

{1, 2, 3, 4}
{1, 2, 3, 5}
{1, 4, 5, 6, 8}
set()