In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import numpy as np
import pandas as pd

In [10]:
dict1 = {
    "name":['prakash','rohan','hari','rita'],
    "marks":[92,88,85,30],
    'city':['ktm','bkt','pkr','brit']
}

In [11]:
df = pd.DataFrame(dict1)

In [12]:
df

      name  marks  city
0  prakash     92   ktm
1    rohan     88   bkt
2     hari     85   pkr
3     rita     30  brit

In [13]:
df.to_csv('friends.csv')

In [15]:
df.to_csv('friends_index.csv', index = False) #To remove index that mean 0.1,2,3

<bound method NDFrame.to_csv of       name  marks  city
0  prakash     92   ktm
1    rohan     88   bkt
2     hari     85   pkr
3     rita     30  brit>